/* workshop.module.css */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.workshop-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  
  .cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
  }

  .head-section{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        /* padding-top: 40px; */
        height: 201px;
        background: #F7F7F7;
        border-bottom: 2px solid #000000;
        border-top: 2px solid #000000;
  }
  .head-box{
    margin-top: 40px;
    display: flex;
    padding-left: 100px;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid  black;   */
  }
  .pic{
        margin-bottom: 2px;
        margin-right: 10px;
        /* border: 1px solid  black; */
  }

  .pencil-image{
        width: 60px;
        height: 60px;
  }
  /* .text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 320px;
        height: 90px;
        border: 1px solid  black;
  } */

  .educational-text{
        /* width: 135px;
        height: 22px; */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        /* text-align: start; */
        letter-spacing: 0.18em;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: -10px;
        /* border: 1px solid  black; */
  }

  .workshops-text{
        /* width: 320px;
        height: 68px; */
        margin-top: 2px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        text-align: start;
        letter-spacing: -0.04em;
        color: #000000;
        /* border: 1px solid  black; */
  }


@media (max-width:600px)
{
    .head-box{
        padding-left: 20px;
        margin-top: 20px;
    }
    .head-section{
        height: 100px;
    }
    .workshops-text{
        font-size: 30px;
    }
    .educational-text{
        font-size: 8px;
    }
    .pencil-image{
        width: 30px;
        height: 30px;
    }
    .pic{
        margin-bottom: 1px;       
        margin-right: 5px; 
    }
}
